
.form-groupLog {
    padding: 10px;
    margin-left: 200px;
    margin-right:200px;
    outline: none;
    border-radius: 10px;
    text-align: center;

}

.form-groupLog input [placeholder] {
    text-align: center;
}


.container {
    margin-top: 10px;
    padding-top: 30px;
    top: 0%;
}


@componets .containerLog {
    text-align: center;
    padding-bottom:0px;
    width: auto;

}
.topNav a {
    float: center;
    color: black;
    text-align: center;
    padding: 5px 5px;
    font-size: 14px;
    margin-left: 15px;
    overflow: hidden;
}


.login {
    margin-left:1000px;
    margin-top: 10px;
}

.btn-registration {
    margin-left: 950px;
}